@import url("https://fonts.googleapis.com/css2?family=Inter&family=Karantina&family=Poppins:wght@100&display=swap");

* {
  font-family: "Inter";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.h3class {
  font-size: 12pt;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  background-color: black;
  height: 75px;
  /* min-width: 1000px; */
  border-bottom: 0.5px solid red;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 100px;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 5px;
  margin-left: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.main-page-top {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("./images/main-image.jpg");
  background-size: cover;
  min-height: 500px;
  /* min-width: 1000px; */
  margin-bottom: 30px;
}

.main-page-top-top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.welcome-text {
  color: white;
  text-align: center;
  font-size: 22pt;
  font-weight: bold;
  /* max-width: 400px; */
  padding-left: 10px;
  margin-top: 20px;
}

.profile-pic {
  max-width: 175px;
  max-height: 175px;
  border-radius: 100px;
  border: 1px solid white;
  margin-right: 10px;
}

.profile-pic-sm {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid white;
  margin-top: 40px;
}

.blurb-text {
  color: white;
  font-size: 10pt;
  max-width: 400px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid white;
}

.main-page-mid {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* min-width: 1000px; */
}

.main-page-mid-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* min-width: 1000px; */
  /* max-width: 1000px; */
  background-color: lightgray;
}

.bold-black {
  color: black;
  font-size: 22pt;
  font-weight: bold;
  margin-top: 20px;
}

.blue-square {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightskyblue;
  max-width: 400px;
  min-width: 350px;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px #797979;
}

.square-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.resume {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
  max-width: 500px;
}

hr {
  max-width: 500px;
}

.grey-header {
  color: grey;
}

.bolder {
  font-weight: bold;
}

.greyer {
  color: grey;
}

.more-details-h5 {
  font-weight: bold;
  margin-top: 40px;
}
